<a href="https://colab.research.google.com/github/emilziyaev/openDataHackathon2021/blob/main/OD_finaltask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import copy

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv("/content/first_dataset_train.csv")

In [ ]:
data.head()

,Unnamed: 0,metka_0,metka_1,metka_10,metka_11,metka_12,metka_2,metka_3,metka_4,metka_5,metka_6,metka_7,metka_9,age,gender,target_kt
0,57030_1,NaN,NaN,NaN,NaN,NaN,145.0,NaN,NaN,NaN,NaN,NaN,NaN,51.950685,1,1
1,66906_1,305.0,42.0,NaN,NaN,1.0,103.0,24.8,6.00,33.200,4.14,16.6,74.2,42.383562,0,0
2,401861_1,289.0,NaN,NaN,NaN,NaN,161.0,NaN,6.13,NaN,NaN,NaN,NaN,63.545205,1,2
3,141133_1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.232877,0,3
4,37143_1,157.0,NaN,NaN,NaN,NaN,136.0,28.7,2.50,0.414,4.73,52.7,NaN,30.306849,0,1

In [ ]:
data

,Unnamed: 0,metka_0,metka_1,metka_10,metka_11,metka_12,metka_2,metka_3,metka_4,metka_5,metka_6,metka_7,metka_9,age,gender,target_kt
0,57030_1,NaN,NaN,NaN,NaN,NaN,145.0,NaN,NaN,NaN,NaN,NaN,NaN,51.950685,1,1
1,66906_1,305.0,42.0,NaN,NaN,1.0,103.0,24.8,6.00,33.200,4.14,16.6,74.2,42.383562,0,0
2,401861_1,289.0,NaN,NaN,NaN,NaN,161.0,NaN,6.13,NaN,NaN,NaN,NaN,63.545205,1,2
3,141133_1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.232877,0,3
4,37143_1,157.0,NaN,NaN,NaN,NaN,136.0,28.7,2.50,0.414,4.73,52.7,NaN,30.306849,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5541,843376_3,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.917808,1,1
5542,856375_3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.890411,0,0
5543,879891_3,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.671233,0,1
5544,1047789_3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.613699,0,1
5545,1158612_3,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.641096,0,0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5546 entries, 0 to 5545
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5546 non-null   object
 1   metka_0     2531 non-null   float64
 2   metka_1     1041 non-null   float64
 3   metka_10    1566 non-null   float64
 4   metka_11    1566 non-null   float64
 5   metka_12    4517 non-null   float64
 6   metka_2     2790 non-null   float64
 7   metka_3     1431 non-null   float64
 8   metka_4     2537 non-null   float64
 9   metka_5     2253 non-null   float64
 10  metka_6     2253 non-null   float64
 11  metka_7     2249 non-null   float64
 12  metka_9     757 non-null    float64
 13  age         5546 non-null   float64
 14  gender      5546 non-null   int64
 15  target_kt   5546 non-null   int64
dtypes: float64(13), int64(2), object(1)
memory usage: 693.4+ KB

In [ ]:
data.info()

In [ ]:
# Проверяем на мультиколлинеарность
#corr = data_pd_flag.corr()
#display(corr > 0.08)

In [ ]:
data.fillna(0, inplace=True)

In [ ]:
# data["weights"] = data["flg_90_12_add"]*(10.12103175-0.52598474)
# data["weights"] = data["weights"]+0.52598474

In [ ]:
!pip install catboost

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor
from catboost import CatBoostClassifier
import lightgbm as lgb

In [ ]:
data

,Unnamed: 0,metka_0,metka_1,metka_10,metka_11,metka_12,metka_2,metka_3,metka_4,metka_5,metka_6,metka_7,metka_9,age,gender,target_kt
0,57030_1,0.0,0.0,0.0,0.0,0.0,145.0,0.0,0.00,0.000,0.00,0.0,0.0,51.950685,1,1
1,66906_1,305.0,42.0,0.0,0.0,1.0,103.0,24.8,6.00,33.200,4.14,16.6,74.2,42.383562,0,0
2,401861_1,289.0,0.0,0.0,0.0,0.0,161.0,0.0,6.13,0.000,0.00,0.0,0.0,63.545205,1,2
3,141133_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.000,0.00,0.0,0.0,49.232877,0,3
4,37143_1,157.0,0.0,0.0,0.0,0.0,136.0,28.7,2.50,0.414,4.73,52.7,0.0,30.306849,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5541,843376_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.000,0.00,0.0,0.0,55.917808,1,1
5542,856375_3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.000,0.00,0.0,0.0,41.890411,0,0
5543,879891_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.000,0.00,0.0,0.0,64.671233,0,1
5544,1047789_3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.000,0.00,0.0,0.0,23.613699,0,1
5545,1158612_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.000,0.00,0.0,0.0,39.641096,0,0

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(features_train, )
features_train = scaler.transform(features_train)
features_test = scaler.transform(features_test)

In [ ]:
%%time

model_regression = LogisticRegression()
model_regression.fit(features_train, target_train)
predicted_regression = model_regression.predict(features_test)

print("MAE модели на тестовой выборке:", mean_absolute_error(target_test, predicted_regression))

MAE модели на тестовой выборке: 0.0002144180846338811
CPU times: user 12.2 s, sys: 1.43 s, total: 13.6 s
Wall time: 3.61 s

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
%%time

model_forest = RandomForestClassifier(n_estimators= 50, max_depth=30, min_samples_leaf= 5, min_samples_split= 16)
#model_forest = RandomForestClassifier(n_estimators= 30, max_depth=21, min_samples_leaf= 1, min_samples_split= 8)
model_forest.fit(features_train, target_train)
predicted_forest = model_forest.predict(features_test)

print("MAE модели на тестовой выборке:", mean_absolute_error(target_test, predicted_forest))

MAE модели на тестовой выборке: 0.04896390118389414
CPU times: user 13.6 s, sys: 14.1 ms, total: 13.6 s
Wall time: 13.5 s

In [ ]:
features_final_test = data_test.drop(['flg_90_12_add', 'APPLICATION_MONTH'], axis=1)
target_final_test = model_regression.predict(features_final_test)

In [ ]:
df = pd.DataFrame(data=target_final_test, columns=["flg_90_12_add"])
df.index = features_final_test.index

In [ ]:
df['flg_90_12_add'].value_counts()

1.0    552
0.0    448
Name: flg_90_12_add, dtype: int64

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
data_pd = pd.merge(copy.deepcopy(model_pd), data, how= 'left', on='incident')
data_pd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82617 entries, 0 to 82616
Columns: 1912 entries, incident to weights
dtypes: float64(1839), int64(72), object(1)
memory usage: 1.2+ GB

In [ ]:
data

In [ ]:
#data_pd = data_pd.dropna(axis = 1, thresh=40000)

In [ ]:
data_pd.fillna(0, inplace=True)

In [ ]:
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

In [ ]:
target_kt = data['target_kt']
features_kt = data.drop(['target_kt'], axis=1)
features_train_kt, features_test_kt, target_train_kt, target_test_kt = train_test_split(
    features_kt, target_kt, test_size=0.20, random_state=12345, stratify = None)

In [ ]:
features_train_kt

In [ ]:
from sklearn.preprocessing import StandardScaler 

scaler = StandardScaler()
scaler.fit(features_train_kt)
features_train_kt = scaler.transform(features_train_kt)
features_test_kt = scaler.transform(features_test_kt)

In [ ]:
%%time

model_cat = CatBoostRegressor(depth=4, n_estimators=40, learning_rate=0.01, loss_function='MAE', verbose=False)
#model_cat = CatBoostRegressor(depth=1, n_estimators=30, learning_rate=1, loss_function='MAE', verbose=False)
model_cat.fit(features_train_kt, target_train_kt)
predicted_cat = model_cat.predict(features_test_kt)

print("MAE модели на тестовой выборке:", mean_absolute_error(target_test_kt, predicted_cat))

MAE модели на тестовой выборке: 0.48933209679652256
CPU times: user 185 ms, sys: 55.6 ms, total: 241 ms
Wall time: 224 ms

In [ ]:
%%time

gbm = lgb.LGBMRegressor(boosting_type='gbdt', num_leaves=3, 
                        max_depth=- 1, learning_rate=0.1, 
                        n_estimators=40)

gbm.fit(features_train_kt, target_train_kt,
        eval_set=[(features_test_kt, target_test_kt)],
        eval_metric='l1',
        early_stopping_rounds=1000)
predicted_lgb = gbm.predict(features_test, num_iteration=gbm.best_iteration_)

print("MAE модели на тестовой выборке:", mean_absolute_error(target_test_kt, predicted_lgb))

In [ ]:
features_pd_test = data_test_pd.drop(['flg_90_12_add', 'APPLICATION_MONTH', 'PD'], axis=1)
target_pd_test = model_cat.predict(features_pd_test)

In [ ]:
# дообучение на результатах классификации

features_pd_test = pd.concat([features_pd_test, df['flg_90_12_add']], axis=1)

In [ ]:
features_pd_test = features_pd_test.drop(['Feature_1865'], axis=1)

In [ ]:
df_pd = pd.DataFrame(data=target_pd_test, columns=["PD"])
df_pd.index = features_pd_test.index

In [ ]:
df_pd.info()

In [ ]:
print(df_pd)

                PD
incident
21000721  0.015517
20969929 -0.093725
20970028  0.000410
21001976  0.069258
21003292  0.013117
...            ...
20559842 -0.089825
20380255 -0.122068
20348581  0.004015
21118162  0.067626
21452003  0.037100

[1000 rows x 1 columns]

In [ ]:
df['flg_90_12_add']

In [ ]:
final_data = pd.merge(df_pd, df, how= 'left', on='incident')
final_data.info()

In [ ]:
final_data['PD-flg_90_12_add'] = np.abs(final_data['PD'] - final_data['flg_90_12_add'])
final_data = final_data.drop(['flg_90_12_add', 'PD'], axis=1)

In [ ]:
final_data.info()

In [ ]:
#final_data.reset_index(drop=True, inplace=True)

In [ ]:
final_data.to_csv('/content/drive/MyDrive/OpenData/sample_submission (1).csv', header=False, index=False)